<% include ../header %>
    <header>
        <h1>ntalk</h1>
        <h4>bem vindo</h4>
    </header>
    <section>
        <form action="/entrar" method="post">
            <input type="text" name="nome" placeholder="seu nome">
            <br>
            <input type="text" name="email" placeholder="seu email">
            <br>
            <button type="submit">entrar</button>
        </form>
    </section>
    <% include ../footer %>